<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="CheckoutDbConnectionString" connectionString="Data Source=CTEDT00411\SQLEXPRESS;Initial Catalog=Checkout;Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>